html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 110px;
    /* sticky header */
    padding-top: 70px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #f5f5f5;
    padding-top: 30px;
}

.fa-btn {
    margin-right: 6px;
}


.panel-danger > .panel-heading {
    /* red */
    background-color: #ee5859;
    border-color: #ee5859;
}


.panel-danger {
    border-color: #ee5859;
}

.panel-info > .panel-heading {
    background-color: #55d1da;
    border-color: #55d1da;
}

.panel-info {
    border-color: #55d1da;
}

.obtained {
    background: #55d1da;
}

.panel-warning > .panel-heading {
    /* yellow */
    background-color: #ffd33a;
    border-color: #ffd33a;
}

.panel-warning {
    border-color: #ffd33a;
}

.hoverhand {
    cursor: hand;
}

.boys {
    display: inline-block;
    margin: 1px;
}

.boys > img {
    width: 100px;
    height: 100px;
}


:lang(ja) {
    font-family: Latha, "Tamil MN", serif;
    font-size: 100%;
}


.card-title {
    font-weight: 400;
}


/* idol.blade.php */

.card-container {
    width: 180px;
    height: 225px;
    margin: auto;
}

.card {
    width: calc(100% / 2);
    padding: 16px;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .card-container {
        width: 230px;
        height: 288px;
    }

    .card {
        width: calc(100% / 4);
    }
}